@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Product Sans'), url('../fonts/product-sans/ProductSans-Regular.woff') format('woff');
}

/* START MDC CUSTOM THEME */
:root {
    --mdc-theme-primary: #6200ee !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary) !important;
}

/* END MDC CUSTOM THEME */

/* START DU DIALOG THEME */

.du-dialog .dlg-action {
    color: var(--mdc-theme-primary) !important;
}

/* END DU DIALOG THEME */

* {
    font-family: "Product Sans", Verdana, Helvetica, Sans-Serif !important;
}
