* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--mdc-theme-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    cursor: pointer;
    border-radius: 50%;
    height: 280px;
    width: 280px;
    border: #f5f5f5 1px solid;
    background-color: #f5f5f5;
    padding: 5px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .12);
    transition: .4s;
}

.circle:hover {
    transform: scale(1.1);
    background-color: white;
    border: whitesmoke solid 20px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title {
    width: 100%;
    height: fit-content;
}

p {
    width: 100%;
    color: var(--mdc-theme-primary);
}

.txt-title {
    font-size: 2.5em;
    text-align: center;
}

.txt-subtitle {
    font-size: 2.2em;
    text-align: center;
    color: #424242;
}
